<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <div class="container-lg mt-2">
      <div class="border border-primary-subtle p-2 rounded">
        <form action="/<%= findTodo.id %>?_method=PATCH" method="post">
          <div class="d-sm-flex mb-4">
            <div id="task" class="flex-grow-1 fs-5 mt-2">
              <label for="task" class="form-label">Task:</label>
              <input
                type="text"
                id="task"
                name="editTask"
                value="<%= findTodo.task %>"
                class="form-control"
              />
            </div>
            <div class="ms-sm-4">
              <label for="due" class="form-label fs-5 mt-2">Due to:</label>
              <input
                type="date"
                id="due"
                name="editDue"
                min=""
                value="<%= valueDue %>"
                class="form-control"
              />
            </div>
            <div id="imp" class="ms-sm-4">
              <label for="importance" class="form-label fs-5 mt-2"
                >Importance:</label
              >
              <select
                class="form-select"
                name="editImportance"
                id="importance"
              >
              <% if(findTodo.importance == "normal") { %>
                <option value="normal" class="bg-info-subtle" selected>Normal</option>
                <option value="important" class="bg-warning-subtle">
                 Important
                </option>
                <option value="urgent" class="bg-danger-subtle">Urgent</option>

              <% } else if(findTodo.importance == "important") { %>
                  <option value="normal" class="bg-info-subtle">Normal</option>
                  <option value="important" class="bg-warning-subtle" selected>
                    Important
                  </option>
                  <option value="urgent" class="bg-danger-subtle">Urgent</option>

                <% }else if(findTodo.importance == "urgent") { %>
                  <option value="normal" class="bg-info-subtle">Normal</option>
                  <option value="important" class="bg-warning-subtle">
                    Important
                  </option>
                  <option value="urgent" class="bg-danger-subtle" selected>Urgent</option>
                <% } %>
              </select>
            </div>
          </div>
          <input class="btn btn-primary btn-lg" type="submit" value="Save" />
        </form>
      </div>
    </div>

    <script>
      const today = new Date().toISOString().split("T")[0]
      document.getElementById("due").setAttribute("min", today)
    </script>
  </body>
</html>

